*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mochiy+Pop+P+One&display=swap');

.colorRojo {

    background-color: red;
}

#h1 {
    
    font-family: 'Mochiy Pop P One', sans-serif;
    color: white;
}

.colorAzul {

    background-color: rgb(79, 79, 182);
}

#h2 {
    
    color: green;
    font-family: 'Lobster', cursive;
}

#ul {

        
}